.container-addBook{
    display: flex;
    justify-content: space-around;
    margin: 60px;
    font-family: 'Inter', sans-serif;
}

.container-addBook h1{
    font-size: 22px;
    font-weight: 900;
}

.container-addBook h2{
    font-size: 18px;
}

.container-addBook h3{
    font-size: 14px;
    font-weight: 400;

    color: #989292;
}

.container-addBook .add-left{
    display: flex;
    width: 64%;
    flex-direction: column;
}

.add-title{
    display: flex;
    width: 100%;
    height: 46px;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    font-size: 26px;
    font-weight: 900;
    color: #1DC9A1;
    padding-left: 10px;
}

.book-img{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    height: fit-content;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0px 10px 0px;
}

.book-img img{
    width: 93px;
    height: 122px;
}

.book-img input{
    width: 50%;
    margin-top: 10px;
}

.book-idt{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    height: fit-content;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px 10px 0px;
}

.book-idt .input{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book-idt .input input, .book-idt .input textarea{
    width: 50%;
    margin-bottom: 10px;
}

.book-idt .input select{
    width: 50%;
    margin-bottom: 10px;
    border: 2px solid rgb(226, 232, 240);
    height: 40px;
    border-radius: 6px;
}

.container-addBook .add-right{
    display: flex;
    justify-content: center;
    width: 32%;
}

.add-right .btn-action{
    display: flex;
    flex-direction: column;

    width: 80%;
    height: fit-content;

    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    padding: 14px;
}

.btn-white button{
    width: 100%;
    background-color: #FFFFFF;
    border: 3px solid #1DC9A1;
    border-radius: 15px;
    font-size: 18px;
}

.btn-action .btn-green button{
    width: 100%;
    color: white;
    background-color: #1DC9A1;
    border-radius: 15px;
    margin: 10px 0px 0px 0px;
    font-size: 18px;
}