.container-bookList{
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    margin-top: 60px;
}

.container-bookList h1{
    font-weight: 700;
    font-size: 22px;
}

.container-bookList h2{
    font-weight: 700;
    font-size: 18px;
}

.container-bookList h3{
    font-weight: 400;
    font-size: 14px;
    color: rgba(152, 146, 146, 1);
}

.nav-buku-admin{
    display: flex;
    justify-content: space-between;
    margin: 20px 60px 15px 60px;
    flex-wrap: wrap;
}

.nav-buku-admin button, .nav-buku-admin button:hover{
    background-color: transparent;
    font-size: 20px;
}

.btn-green button{
    background-color: #1DC9A1;
    color: white;
    border-radius: 15px;
    font-size: 22px;
    padding: 0px 25px 0px 25px;
    margin-left: 50px;
}

.btn-green button:hover{
    background-color: #25b493;
    border-radius: 15px;
    font-size: 22px;
    padding: 0px 25px 0px 25px;
    margin-left: 50px;
}

.container-bookList hr{
    border: 1px solid #98929288;
    margin: 0px 60px 20px 60px;
}

.book-items{
    display: flex;
    margin-left: 5%;
    flex-wrap: wrap;
}

.card{
    display: flex;
    width: 160px;
    height: 300px;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
    background: #FFFFFF;
    border: 1px solid #D9D3D3;
    border-radius: 10px;
}

.card img{
    width: 150px;
    height: 180px;
}

.detail{
    text-align: left;
    margin-top: 5px;
}

.detail .writer-show{
    display: flex;
    justify-content: space-between;
}

.green{
    color: #1DC9A1;
}