.container-bookList{
    display: flex;
    /* justify-content: normal; */
    flex-wrap: wrap;
    font-family: 'Inter';
    font-weight: 700;
    margin-left: 8%;
    margin-top: 60px;
}

.card{
    display: flex;
    width: 160px;
    height: 300px;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
    background: #FFFFFF;
    border: 1px solid #D9D3D3;
    border-radius: 10px;
}

.card img{
    width: 150px;
    height: 180px;
}

.detail{
    text-align: left;
    margin-top: 5px;
}

.card .writer{
    color: rgba(152, 146, 146, 1);
    font-size: 14px;
    margin-bottom: 3px;
}

.card .price{
    color: #1DC9A1;
    font-size: 18px;
    margin-bottom: 3px;
}

.card .title{
    font-size: 18px;
    margin-bottom: 3px;
}