.co-container{
    display: flex;
    margin: 60px;
    justify-content: space-around;
    font-family: 'Inter';
    height:100vh;
    font-size: 18px;
}

.co-container h1{
    font-size: 22px;
    font-weight: 900;
}

.co-container h2{
    font-size: 18px;
}

.co-container h3{
    font-size: 14px;
    font-weight: 400;

    color: #989292;
}

.co-container .green{
    color: #1DC9A1;
}

.co-left{
    display: flex;
    width: 64%;
    flex-direction: column;
}

.co-title{
    display: flex;
    width: 100%;
    height: 46px;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    font-size: 26px;
    font-weight: 900;
    color: #1DC9A1;
    padding-left: 10px;
}

.co-address{
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: left;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    margin-top: 30px;
    padding: 20px;
    padding-top: 12px;
}

.co-address .title{
    display: flex;
    justify-content: space-between;
}

.co-lists{
    display: flex;
    width: 100%;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    margin-top: 30px;
    padding: 30px;
    padding-top: 12px;
}

.co-item{
    display: flex;
    justify-content: space-between;
}

.co-item img{
    width: 60px;
    height: 75px;
}

.co-item .item{
    display: flex;
    flex-direction: row;
    text-align: left;
}

.item .item-detail{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.co-subTot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.co-lists hr{
    border: 1px solid #98929288;
    width: 100%;
    margin: 20px 0px 20px 0px;
}

.shipping-method{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

/* KANAN */
.co-right{
    display: flex;
    width: 32%;
    flex-direction: column;
}

.co-right .payment{
    display: flex;
    flex-direction: column;
    text-align: left;

    width: 100%;
    height: fit-content;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    padding: 15px 20px 15px 20px;
}

.co-right .shopping-detail{
    display: flex;
    flex-direction: column;
    text-align: left;
    /* margin-top: 35px; */

    width: 100%;
    height: fit-content;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    padding: 15px 20px 15px 20px;
}

.shopping-detail .details{
    display: flex;
    flex-direction: column;
    text-align: left;
    /* justify-content: space-between; */
}

.details .detail{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.co-right button{
    background-color: #1DC9A1;
    border-radius: 10px;
    font-size: 22px;
    color: white;
    margin-top: 10px;
}

.co-right hr{
    border: 1px solid #98929288;
    width: 100%;
    margin: 10px 0px 10px 0px;
}

.modal{
    display: flex;
    width: 450px;
    flex-direction: column;
    font-family: 'Inter';
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    align-items: center;
    /* background-color: blue; */
}

.modal-header{
    background-color: rgba(29, 201, 161, 0.5);
    text-align: center;
    width: 100%;
}

.modal h1{
    font-size: 22px;
    font-weight: 900;
}

.modal h2{
    font-size: 18px;
    font-weight: 400;
}

.modal h3{
    font-size: 14px;
    font-weight: 400;
}

.modal .modal-body{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    text-align: center;
}

.modal .transfer{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 419px;
    height: fit-content;
    padding: 15px 22px 15px 22px;
    text-align: left;

    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
}

.bank-addres{
    display: flex;
    align-items: center;
}

.bank-addres img{
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.transfer input{
    background-color: #E6E9EC;
    width: 100%;
    font-size: 18px;
    font-weight: 900;
    color: black;
    margin-top: 8px;
    margin-bottom: 20px;
    padding: 8px;
}

.bukti{
    display: flex;
    flex-direction: column;
    width: 419px;
    height: fit-content;
    padding: 15px 22px 15px 22px;
    text-align: left;

    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    margin-top: 10px;
}

.bukti input{
    width: 200px;
    height: 200px;
}

.bukti .input-img{
    display: flex;
    justify-content: center;
    width: 100%;
    border: none;
}

.bukti button{
    background-color: #1DC9A1;
    border-radius: 10px;
    font-size: 22px;
    color: white;
    margin-top: 10px;
}