.container{
    display: flex;
    font-family: 'Inter', sans-serif;
    color: #112B3C;
    font-weight: 700;
}

.container h1{
    font-size: 18px;
    font-weight: 700;
}

.right{
    display: flex;
    flex-direction: column;
    background-color: rgba(29, 201, 161, 1);
    width: 50%;
    height: 100vh;
    justify-content: center;

    font-size: 90px;
    color: #112B3C;
}

.right img{
    width: 60%;
    margin-left: 20%;
    /* height: 428px; */
}

.left{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    justify-content: center;
}

.left .error{
    display: flex;
    width: 80%;
    font-size: 18px;
    padding: 5px;
    background-color: rgb(254, 215, 215);
    align-items: center;
}

.error .bi{
    color: red;
    margin: 0px 8px 0px 8px;
    font-size: 24px;
}

.welcome{
    font-size: 64px;
}

.inputLogin{
    text-align: left;
    font-size: 18px;
    margin-left: 10%; 
}

.inputLogin label{
    font-size: 18px;
    font-weight: 700;
}

.inputLogin .error{
    background-color: rgb(254, 215, 215);
    font-size: 16px;
    align-items: center;
}

.error .bi{
    color: red;
    margin: 0px 8px 0px 8px;
    font-size: 20px;
}

.inputLogin input{
    width: 80%;
    height: 40px;

    background: #FFFFFF;
    border: 1px solid #D9D3D3;
    border-radius: 10px;
}

.btnLogin{
    justify-content: center;
    margin-top: 30px;
    padding: 0px;
}

.btnLogin button{
    width: 70%;
    height: 40px;
    border: 1px solid #D9D3D3;
    border-radius: 10px;
    background-color: #112B3C;
    font-size: 24px;
    color: #FFFFFF;
}